*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    color: $text;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    text-decoration: none;
    scroll-behavior: smooth;
    overflow: hidden;
}

footer,
header,
nav,
section,
main {
    display: block;
}


body {
    background-color: $background;
    line-height: 1;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-text;
}


ol,
ul {
    list-style: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    border-radius: 0;
}

button{
    color: $text;
    border: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 5rem;

    @include respond(tablet-landscape) {
        padding-inline: 1.5rem;
    }

    @include respond(phone) {
        padding-inline: 0.75rem;
    }
}
